<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <%= image_tag "banner.png", class: "d-block w-100", alt: "First slide"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner2.png", class: "d-block w-100", alt: "Second slide"%>
    </div>
    <div class="carousel-item">
      <%= image_tag "banner3.jpg", class: "d-block w-100", alt: "Third slide"%>
    </div>
  </div>
</div>
