<!-- HOME LOGOUT-->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" >
      <%= image_tag "image2.jpg", class: "d-flex w-100 carousel-img", alt: "First slide"%>
      <div class="carousel-caption text-left carousel-placement">
        <h1>Cansado de jogar os mesmos jogos?</h1>
        <p>Registre-se e alugue agora mesmo um novo jogo.</p>
        <p><a href="#" role="button"><%= link_to "Alugue agora!", new_user_registration_path, class: "btn btn-lg btn-success" %></a></p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag "image.jpg", class: "d-block w-100 carousel-img", alt: "Second slide"%>
      <div class="carousel-caption text-left carousel-placement">
        <h1>Tem um videogame parado em casa?</h1>
        <p>Registre-se e ganhe dinheiro alugando seu console.</p>
        <p><a href="#" role="button"><%= link_to "Alugue agora!", new_user_session_path, class: "btn btn-lg btn-success" %></a></p>
      </div>
    </div>
  </div>
</div>

