<div class="d-flex">
  <div>
    <%= image_tag "side.jpg"%>
  </div>

  <div class="container bg-white">
    <div class="owner-panel">
      <h1>
        <span id="typed" ></span>
      </h1>
    </div>

    <div class="container bg-white justify-content-center">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" class="table-title">ID</th>
              <th scope="col" class="table-title">GAME</th>
              <th scope="col" class="table-title">TIPO</th>
              <th scope="col" class="table-title">$/DIA</th>
              <th scope="col" class="table-title"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Nintendo 64</td>
              <td>console</td>
              <td>13.00</td>
              <td><button class="btn btn-outline-success">Editar</button></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Super Mario Bros.</td>
              <td>cartucho</td>
              <td>2.00</td>
              <td><button class="btn btn-outline-success">Editar</button></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Donkey Kong</td>
              <td>cartucho</td>
              <td>2.00</td>
              <td><button class="btn btn-outline-success">Editar</button></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
  <div>
    <%= image_tag "side.jpg"%>
  </div>
</div>


