<div class="container-dois">
  <div id="typed-strings">
      <p>EDITAR ITEM_</p>
  </div>
  <span id="typed"></span>
  <%= render 'form', item: @item %>

  <%= link_to 'Voltar à página do item', @item %> |
  <%= link_to 'Voltar à página principal', items_path %>
</div>
