<div class="container" style="width: 600px; margin: 0 auto; padding-top: 30px;">
  <h1>Adicionar um novo item:</h1>

  <%= render 'form', item: @item %>

  <%= link_to 'Voltar à página principal', items_path %>
</div>
