.carousel-img{
// opacity: 0.4;
filter: brightness(80%);
height: 93.3vh;
background-size: cover;
}

.carousel-caption > h1{
  font-size: 70px;
  font-weight: bolder;
}

.carousel-caption p{
  font-size: 25px;

}

.carousel-placement {
  bottom: 11rem;
}
