.profile-pic {
  padding: 20px;
  border-radius: 50px;
  width: 200px;

}

.profile-cont {
  padding: 20px;
  position: relative;
  margin-top: 35px;
  text-align: center;
  box-shadow: 0 0 6px rgba(0,0,0,0.1)
}
