<div class="container products-container">
  <div id="typed-strings">
      <p>Avaliação
_</p>
  </div>
  <span id="typed"></span>

  <div class="row">
    <div class="offset-md-3 col-md-6 border mt-5 py-5">
      <%= simple_form_for [@item, @review], html: { class: "review_form" } do |f| %>
        <%= f.input :content, label:"Conte-me mais sobre o game..." %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Avalie sua experiência" %>
        <%= f.submit "Enviar", class: "d-none" %>
      <% end %>
    </div>
  </div>
</div>


