<div class="container products-container">
  <div class="row offset-3">
    <div class="col-xs-6 offset-2">
      <%= simple_form_for [@item, @review], html: { class: "review_form" } do |f| %>
        <%= f.input :content %>
        <%= f.input :rating, collection: (1..5).to_a, label: "Avalie sua experiência" %>

        <%= f.submit "Enviar", class: "d-none" %>
      <% end %>
    </div>
  </div>
</div>


